@media only screen and (max-width: 700px) {
    header{
        nav{
            display: none;
        }
        .header__btn{
            display: none;
        }
        div.burger_menu{
            display: block;
        }
    }
}
@media only screen and (max-width: 1040px) {
    div.main.section{
        flex-direction: column;
        flex-direction: column-reverse;
        div.section__content{
            margin-top: 3rem;
            width: 95%;
        }
        .section__img{
            width: 90%;
            img{
                width: 70%;
            }
        }
    }

    div.promises{
        flex-direction: column;
        .promises__content{
            margin-top: 3rem;
            .promises__data{
                width: 100%;
                justify-content: space-around;
            }
        }
        .promises__img{
            display: flex;
            justify-content: center;
            width: 50%;
        }
        .promises__content{
            width: 100%;
        }
        
    }

    div.services{
        &__items{
            .services__item{
                width: 40%;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    div.portfolio{
       flex-direction: column;
       align-items: center;
       &__project{
        width: 100%;
       }
       &__project:first-child{
        margin-right: 0;
       }
        &__project:last-child{
            margin-left: 0;
            margin-top: 1.2rem;
        }
    }

    div.promises{
        .promises__img{
            width: 60%;
        }
    }
    
    div.services{
        &__items{
            .services__item{
                width: 80%;
            }
        }
    }
    div.growth{
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        .education{
            width: 100%;
            margin-top: 2rem;
        }
        .experience{
            width: 100%;
            margin-top: 2rem;

        }
    }
}

@media only screen and (max-width: 530px) {
    div.main.section{
        .section__content{
            .section__content__title{
                font-size: 2.4rem;
            }
            .small_caption{
                margin-top: 2rem;
            }
        }
        .section__img{
            
            img{
                width: 100%;
            }
            .section__img__content{
                margin-top: 1.4rem;
                position: relative;
                z-index: 10;
                bottom: 0;
            }
        }
    }

    div.promises{
        .promises__content{
            .promises__title{
                margin-bottom: 0;
            }
            .promises__items{
                flex-direction: column;
                .promises__item{
                    margin-top: 2.4rem;
                }
            }
            .promises__data{
                .promises__data__item{
                    .data__item__number{
                        p{
                            font-size: 1.4rem;
                        }
                    } 
                }
            }
        }
    }
}