@font-face{
    font-family: "THICCCBOI Bold";
    src: url("../fonts/THICCCBOI/THICCCBOI-Bold.woff2") format("woff2");
}
@font-face{
    font-family: "THICCCBOI Semi-Bold";
    src: url("../fonts/THICCCBOI/THICCCBOI-SemiBold.woff2") format("woff2");
}
@font-face{
    font-family: "THICCCBOI Medium";
    src: url("../fonts/THICCCBOI/THICCCBOI-Medium.woff2") format("woff2");
}
@font-face{
    font-family: "test1";
    src: url("../fonts/NotoSerifAhom-Regular.woff2") format("woff2");
}